{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <style>
        .logo {
            height: 35px;
            width: 60px;
            border-radius: 50%;
        }

        li {
            padding-right: 10px;
        }

        .footer1 {
            background-color: black;
        }

        .invalid input:required:invalid {
            background: #BE4C54;
        }

        .invalid input:required:valid {
            background: #17D654;
        }

        .footernv {
            color: white;
            font-family: 'Times New Roman', Times, serif;
            font-size: larger;
            padding-left: 15px;
            padding-right: 15px;
            border-right: 2px solid white;
        }

        .footernv:hover {
            color: rgb(32, 32, 250);
            text-decoration: unset;
        }

        .bg-black {
            background-color: #000
        }

        .nav-item {
            padding: 0px 8px;
            margin: 0px 3px;
            /* text-align: center; */
            border-radius: 5px
        }

        .nav-item.active {
            background-color: #9E9E9E
        }

        .nav-item:hover {
            background-color: #9E9E9E
        }

        .nav-link {
            padding: 5px
        }

        .navbar-collapse.collapse.in {
            display: block !important
        }

        .fa {
            padding-right: 10px
        }

        .fa-check {
            color: #fff;
            left: 17px;
            top: 18px;
            font-size: 7px;
            position: absolute;
        }

        .submitbtn,
        .submitbtn:active {
            font-size: 16px;
            font-weight: bold;
            background: #0fd652 !important;
            border: none;
            min-width: 140px;
        }

        .submitbtn:hover,
        .submitbtn:focus {
            background: #179722 !important;
        }
    </style>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    {% block js %} {% endblock %}

</head>

<body>
    <!-- add "fixed-top" class for sticky top -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-black">
        <a class="navbar-brand" href="#" style="padding-left: 15px;">
            <img class="logo" src="https://www.vhv.rs/dpng/d/414-4147413_white-avengers-logo-png-transparent-png.png"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navi" id="navbarSupportedContent"
            style="padding-left: 10px; padding-right: 10px;">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
                    <!-- <li class="nav-item active"> -->
                    <a class="nav-link" href="{% url 'home' %}">
                        <span class="fa fa-home"></span>
                        Home<span class="sr-only">(current)</span></a>
                </li>
                <!-- <span class="sr-only">(current)</span></a>
                </li> -->
                <li class="nav-item {% block blogsactive %} {% endblock blogsactive %}">
                    <a class="nav-link" href="{% url 'blogs' %}">
                        <span class="fa fa-folder"></span> Latest
                        Blogs</a>
                    <!-- Latest Blogs
                    </a> -->
                </li>
                <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
                    <a class="nav-link" href="{% url 'contact' %}">
                        <span class="fa fa-paper-plane"></span>
                        Contact Us</a>
                </li>
                <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
                    <a class="nav-link" href="#"><span class="fa fa-user"></span>
                        About Us</a>
                </li>
                <!-- <li class="nav-item dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown" style="color: white;">
                        <a class="dropdown-item bg-dark" href="#" style="color: white;">View Polls</a> -->
                <!-- <a class="dropdown-item bg-dark" href="#" style="color: white;">About Us
                </a> 
                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-right: 15px;" name="search">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
            </form>
            <!-- Button trigger modal -->
            <button type="button" style="margin-right: 15px" ; class="btn btn-success" data-toggle="modal"
                data-target="#loginmodal">
                Log In
            </button>

            <!-- Modal -->
            <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="loginmodal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="loginmodal">Log In</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="needs-validation" novalidate action="#" name="myloginform" id="loginform">
                                <div class="form-group">
                                    <label for="loginem">Email address</label>
                                    <input type="email" class="form-control" id="loginem" aria-describedby="emailHelp"
                                        placeholder="Enter email" required>
                                    <div class="invalid-feedback">
                                        Please enter a valid email address
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="loginpas">Password</label>
                                    <input type="password" class="form-control" id="loginpas" placeholder="Password"
                                        required>
                                    <div class="invalid-feedback">
                                        Please enter a password
                                    </div>
                                </div>
                                <div class="form-check mb-1">
                                    <input type="checkbox" class="form-check-input" id="chkbox">
                                    <label class="form-check-label" for="chkbox">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary" id="loginbtn">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- model for signup -->
            <!-- Button trigger modal -->
            <button style="margin-right: 15px" ; type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#signupmodel">
                Sign Up
            </button>
            <!-- Modal -->
            <div class="modal fade" id="signupmodel" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <!-- <div class="modal fade" id="signupmodel" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="signupmodel" aria-hidden="true"> -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h5 class="modal-title" id="signupmodel">Sign Up</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="signupform" action="#">
                                <div class="form-group">
                                    <!-- <div class="input-group"> -->
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fa fa-user"></span>
                                        </span>
                                        <!-- </div> -->
                                        <input type="text" id="fn" class="form-control" name="username"
                                            placeholder="First Name">

                                    </div>
                                    <small id="fninvalid"></small>

                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="fa fa-user"></span>
                                            </span>
                                        </div>
                                        <input type="text" id="ln" class="form-control" name="username"
                                            placeholder="Last Name">
                                    </div>
                                    <small id="lninvalid"></small>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-paper-plane"></i>
                                            </span>
                                        </div>
                                        <input type="email" id="em" class="form-control" name="email"
                                            placeholder="Email Address">

                                    </div>
                                    <small id="eminvalid">
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                        <input type="text" id="pas" class="form-control" name="password"
                                            placeholder="Password" required="required">
                                    </div>
                                    <small id="pasinvalid"></small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-lock"></i>
                                                <i class="fa fa-check"></i>
                                            </span>
                                        </div>
                                        <input type="text" id="cpas" class="form-control" name="confirm_password"
                                            placeholder="Confirm Password">
                                    </div>
                                    <small id="cpasinvalid"></small>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                        <select class="custom-select">
                                            <option>Gender</option>
                                            <option>Female</option>
                                            <option>Male</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-check-label"><input type="checkbox"> I
                                        accept the
                                        <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg" id="submitbtn">Sign Up</button>
                                </div>

                                <!-- <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary" id="submitbtn">Submit</button>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </nav>

    {% block div1 %} {% endblock %}
    {% block div2 %} {% endblock %}

    <!-- Footer -->
    <footer class="page-footer font-small bg-dark footer1">

        <!-- Footer Elements -->
        <div class="container">

            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 py-5 text-center">
                    <div class="mb-5 flex-center" style="padding-left: 5%;">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x text-white bg-dark"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x text-white bg-dark"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x text-white bg-dark"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x text-white bg-dark"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12  text-center">
                    <div class="mb-4 flex-center">

                        <!-- Facebook -->
                        <a class="footernv" href="{% url 'home' %}">
                            Home
                        </a>
                        <!-- Twitter -->
                        <a class="footernv" href="{% url 'blogs' %}">
                            Blogs
                        </a>
                        <!-- Google +-->
                        <a class="footernv" href="{% url 'contact' %}">
                            Contact Us
                        </a>
                        <!--Instagram-->
                        <a class="footernv" style="border-style: hidden;">
                            About
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white bg-dark"
            style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">© 2020 Copyright -
            <a href="#" style="color: white; font-size: 20px; font-family: 'Times New Roman', Times, serif;">
                Appleblogs.inc
            </a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>

</html>