{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Posts</title>
  <style>
    h1 {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 18px;
      display: inline;
    }

    .addbtn {
      /* display: inline-block; */
      float: right;
      margin: 13px 75px 0px 0px;

    }

    .topbar {
      background-color: gray;
      height: 60px;
      /* margin-bottom: 5px; */
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="topbar">
      <h1 class="text-white">Blog Posts </h1>
      <div class="addbtn">
        <a href="{% url 'addpost' %}"> <button type="button" class="btn btn-success btn1">+ Add
            Post</button></a>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th style="width:4%; text-align: center;">Sno:</th>
          <th style="width: 10%; text-align: center;">Title</th>
          <th style="width: 8%; text-align: center;">Author</th>
          <!-- <th style="width: 6%; text-align: center;">Slug</th> -->
          <th style="width: 12%; text-align: center;">Time Stamp</th>
          <th style="width: 18%; text-align: center;">Content</th>
          <th style="width: 12%; text-align: center;" colspan="2">Action</th>

        </tr>
      </thead>
      <tbody>
        {% for x in key %}
        <!-- <tr> -->
        <th class="table-active" scope="row">{{x.id}}</th>
        <td class="table-primary">{{x.title}}</td>
        <td class="table-success">{{x.author}}</td>
        <!-- <td class="table-secondary">{{x.slug}}</td> -->
        <td class="table-danger" style="text-transform: uppercase;">{{x.timeStamp}}</td>
        <td class="table-warning">{{x.content}}</td>
        <!-- <td class="table-info" style="text-align: center;">
          <a href=""><button type=" submit" class="btn btn-success" id="sub">Edit</button>
          </a>
        </td> -->

        <td class="table-info" style="text-align: center;">
          <a href="{% url 'updatepost' x.id %}" class="btn text-secondary px-0">
            <button type=" submit" class="btn btn-success" id="sub">Edit</button></a>

          <a href="{% url 'deletepost' x.id %}"> <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </td>
        </tr>
        <!-- Button trigger modal -->
        <!-- <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete
          </button> -->
        <!-- Modal triggee -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Blog Post</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="text-align: left;">
                  Are you sure you want to Delete Post?</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> -->
        <!-- <form action="{% url 'deletepost' x.id %}" method="POST"> -->
        <!-- {% csrf_token %} -->
        <!-- <a href="{% url 'deletepost' x.id %}">
                    <button type="submit" class="btn btn-danger">Yes -->
        <!-- <a href="{% url 'deletepost' x.id %}">Yes</a> -->
        <!-- </button></a> -->
        <!-- </button> -->
        <!-- </form> -->
        <!-- </div>
              </div>
            </div>
          </div> -->
        </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>

</body>

</html>