{% extends 'home/base.html' %}
{% block title %} {{page.title}} {% endblock %}
{% block css %}
<style>
    .head2 {
        margin-top: 25px;
    }

    .head4 {
        margin-top: 20px;

    }

    .content {
        text-align: justify;
    }

    .jumbotron-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    html {
        scroll-behavior: smooth;
    }

    .readbtn {
        border-radius: 20px !important;
        width: 150px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

    .comments {
        position: relative;
        display: flex;
        padding: 20px;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 11px;
    }

    .media img {
        width: 60px;
        height: 60px
    }

    .reply a {
        text-decoration: none
    }
</style>

{% endblock %}
{% block div1 %}
<section>
    <!-- <div class="container py-5"> -->
    <div class="">
        <div class="jumbotron text-white jumbotron-image shadow"
            style="background-image: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
            <h2 class="container mb-4">
                {{page.title}}
            </h2>
            <p class="container mb-4">
                Hey, check this out.
            </p>
            <div class="container">

                <a href="#bcontent" class="btn btn-primary readbtn" type="button">Read Article</a>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
    <!-- <div class="card card-image" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/forest2.jpg);">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
            <div class="py-5">
                <h2 class="card-title h2 my-4 py-2">MAIN TITLE</h2>
            </div>
        </div>
    </div> -->
    <!-- Jumbotron -->
    <!-- <div class="container"> -->
    <div class="container col-10">
        <div class="card text border-0">
            <div class="card-header bg-transparent border-0" id="bcontent">
                <h2 class="card-title head2">{{page.title}}</h5>
                    <strong class="d-inline-block mb-1 text-primary head4">Article by {{page.author}}</strong>
                    <strong class="pull-right d-inline-block text-primary head4 mr-4">{{page.category}}</strong>
                    <div class="mb-1 text-muted">{{page.timeStamp}}</div>
            </div>
        </div>
        <div class="card-body border-0">
            <p class=" card-text content">{{page.content|safe}}</p>
        </div>
        <div class="card-footer bg-transparent border-0"">
            <!-- <div class=" card-footer text-muted border-0""> -->
        </div>
    </div>
    </div>
</section>
<section>
    <div class="container mb-5 mt-0">
        <div class="container">
            <div class="col-md-12">
                <h3 class="text-sm-left mb-5"> Post Your Comments</h3>
            </div>
        </div>
        <div class="container">
            <div class="card comments border-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="media"> <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview"
                                src="https://i.imgur.com/stD0Q19.jpg" />
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-8 d-flex">
                                        <h5>Maria Smantha</h5>
                                    </div>

                                </div>
                                <p>
                                    It is a long established fact that a reader will be distracted by the
                                    readable content of a page.
                                </p>
                                <span>2 hours ago</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="container mb-5">
        <div class="card comments border-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="media"> <img class="mr-2 rounded-circle" alt="Bootstrap Media Preview"
                            src="https://i.imgur.com/stD0Q19.jpg" />
                        <div class="media-body col-8">
                            <form action="">
                                <textarea class="form-control" rows="3" style="width: 800px;"
                                    placeholder="Post your Comments..." name="comment" id="comment"></textarea>
                                <button type="submit" class="btn btn-primary mt-2" style="width: 80px;">Post</button>
                                <button type="button" class="btn  btn-outline-primary mt-2"
                                    style="width: 80px;">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container mb-5">
        <div class="card comments border-0 shadow">
            <div class="text-center">
                <h3>You are not Authenticated !</h3>
                <p>Authenticate to Comment!</p>
                {% include 'home/login.html' %}
                {% include 'home/signup.html' %}
                <!-- <button type="submit" class="btn btn-success mt-2">Log IN</button>
                    <button type="button" class="btn  btn-danger mt-2 mr-3 ml-2">Sign Up</button> -->
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</section>
{% endblock %}