{% extends 'home/base.html' %}
{% load static %}
{% block title %} Blogs {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
<style>
    .card-box {
        padding: 10px;
        border-radius: 3px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .thumb-lg {
        height: 88px;
        width: 88px;
    }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 100%;
        height: auto;
    }

    .text-pink {
        color: #ff679b !important;
    }

    .btn-rounded {
        border-radius: 2em;
    }

    .text-muted {
        color: #98a6ad !important;
    }
</style>
{% endblock %}
{% block blogsactive %} active {% endblock blogsactive %}
{% block div1 %}
<section>
    <div id="main-content" class="blog-page">
        <div class="container my-4">
            <h2>
                Latest Blogs</h2>
        </div>
        <div class="container my-4">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    {% for x in key %}
                    <div class="card single_post">
                        <div class="body">
                            <h3 class="mb-0 " style="display: inline-block;">
                                <a href="#" class="tlink"
                                    style="text-decoration: none;">{{x.title|truncatechars:25|safe}}</a>
                            </h3>
                            <div class="img-post my-3">
                                <!-- <img class="d-block img-fluid" src="https://via.placeholder.com/800x280/FFB6C1/000000" -->
                                <img class="d-block img-fluid screen" src="{{x.picture.url}}" height="280" width="800"
                                    alt="First slide">
                            </div>
                            <strong class="d-inline-block mb-1 text-primary">Article by {{x.author}}</strong>
                            <strong class="pull-right d-inline-block mb-1 text-primary mr-3">{{x.category}}</strong>
                            &nbsp;
                            <p class="card-text" style="text-align: justify;">
                                {{x.content| truncatechars:300 |safe}}</p>
                        </div>
                        <div class="footer">
                            <div class="actions">
                                <a href="{% url 'blogpage' x.slug %}" role="button" class="btn btn-outline-primary">Read
                                    More</a>
                            </div>
                            <div class="mb-1 text-muted times pull-right mt-1" style="text-transform: uppercase;">
                                {{x.timeStamp}}
                            </div>
                            <!-- <ul class="stats">
                            <ul style="display: inline-block; margin-left: 800px;">
                            <div style="display: inline-block; margin-left: 350px;">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                &nbsp;
                                <span>23</span>
                                &nbsp;
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                &nbsp;
                                <span>12</span>
                                &nbsp;
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                &nbsp;
                                <span>7</span>
                                &nbsp;
                            </div> -->
                        </div>
                    </div>
                    {% endfor %}
                    <div>
                        <ul class="pagination pagination-primary">
                            {% if key.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{key.previous_page_number}}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            {% endif %}
                            {% for i in key.paginator.page_range %}
                            {% if key.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0);">{{i}}</a>
                                <!-- <a class="page-link" href="javascript:void(0);">Page {{key.number}} of {{key.paginator.num_pages}}</a> -->
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{i}}">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if key.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{key.next_page_number}}">Next</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="header category">
                            <h2>Browse Category</h2>
                        </div>
                        <div class="body search">
                            <div class="dropdown">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-folder"></i></span>
                                    <select class="form-control" id="bcat" name="category">
                                        {% for x in cat %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                    <!-- <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" style="width: 225px;">
                                        Choose Category
                                    </button>

                                    <div class="dropdown-menu scrollable-menu" role="menu"
                                        aria-labelledby="dropdownMenuButton">
                
                                        {% for x in cat %}
                                        <a class="dropdown-item" href="#">{{x.name}}</a>
                                        {% endfor %}
                                        
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div> -->
                                </div>
                            </div>

                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                                crossorigin="anonymous"></script>

                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="card">
                        <div class="header category">
                            <h5>Profile</h5>
                        </div>
                        <div class="text-center card-box">
                            <div class="member-card pt-0 pb-2">
                                <!-- <div class="thumb-lg member-thumb mx-auto">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                        class="rounded-circle img-thumbnail" alt="profile-image">
                                </div> -->
                                <div class="thumb-lg member-thumb mx-auto">
                                    <img src="{{request.user.userinfo.propic.url}}" class="rounded-circle"
                                        alt="profile-image" height="110" width="110">
                                </div>
                                <div class=" mx-auto mt-5">
                                    <h5>{{request.user.first_name}}</h5>
                                    <p class="text-muted">@{{request.user}}<span> | </span><span><a href="#"
                                                class="text-pink">{{request.user.email}}</a></span></p>
                                </div>
                                <a href="{% url 'profile' %}">
                                    <button type="button" class="btn btn-outline-primary">View Profile</button>
                                </a>
                                <a href="/logout">
                                    <button type="button" class="btn btn-outline-primary">Log Out</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    {% else %}
                    <div class="card">
                        <div class="header category">
                            <h5>Profile</h5>
                        </div>
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg member-thumb mx-auto"><img
                                        src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                        class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="">
                                    <h5>You are Not Logged In</h5>
                                    <p class="text-muted">@anonymous<span> | </span><span><a href="#"
                                                class="text-pink">Unknown</a></span></p>
                                </div>
                                <button class="btn btn-outline-primary">Login required</button>
                                <!-- <button type="button" class="btn btn-outline-primary">Register</button> -->
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="card">
                        <div class="header">
                            <h2>Categories Clouds</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled categories-clouds m-b-0">
                                <li><a href="javascript:void(0);">Sports</a></li>
                                <li><a href="javascript:void(0);">TV/Web Series</a></li>
                                <li><a href="javascript:void(0);">Movies & Celebs</a></li>
                                <li><a href="javascript:void(0);">IT & Tech</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3">
                        <!-- <div class="header"> -->
                            <h2>Popular Posts</h2>
                        <!-- </div> -->
                    </div>
                    {% for x in key %}
                    <div class="card">
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_post">
                                        <h5 class="m-b-0">{{x.title}}</h5>
                                        <span>{{x.timeStamp}}</span>
                                        <div class="">
                                            {{x.content|truncatechars:300 |safe}}
                                        </div>
                                        <a href="{% url 'blogpage' x.slug %}">
                                            <button class="btn btn-primary">View</button>
                                        </a>
                                        <!-- <button class="btn btn-primary">View</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>

</section>

{% endblock %}