{% extends 'home/dash_base.html' %}
{% block dashactive %} active {% endblock %}
{% block div1 %}
<div class="container-fluid pb-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card rounded-lg shadow border-0 overflow-hidden my-3">
                <div class="card-header bg-white d-flex justify-content-between align-items-center">
                    <div>
                        <b>Blog Users</b> <small class="d-block text-capitalize mt-1">Community</small>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item pt-2 pb-2">
                        <div class="mb-1 d-flex justify-content-between">
                            <div>
                                <div class="font-weight-bold"> Users </div>
                            </div>
                            <div class="ml-auto">
                                <div class="font-size-xl font-weight-bold text-success"> 20 </div>
                            </div>
                        </div>
                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="43"
                                aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                        </div>
                        <div class="mt-1 d-flex justify-content-between">
                            <small>0</small> <small>100%</small>
                        </div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <div class="mb-1 d-flex justify-content-between">
                            <div>
                                <div class="font-weight-bold"> Staffs </div>
                            </div>
                            <div class="ml-auto">
                                <div class="font-size-xl font-weight-bold text-success"> 348 </div>
                            </div>
                        </div>
                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="43"
                                aria-valuemin="0" aria-valuemax="100" style="width: 29%;"></div>
                        </div>
                        <div class="mt-1 d-flex justify-content-between">
                            <small>0</small> <small>100%</small>
                        </div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <div class="mb-1 d-flex justify-content-between">
                            <div>
                                <div class="font-weight-bold"> Total Users </div>
                            </div>
                            <div class="ml-auto">
                                <div class="font-size-xl font-weight-bold text-success"> 220 </div>
                            </div>
                        </div>
                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="43"
                                aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                        <div class="mt-1 d-flex justify-content-between">
                            <small>0</small> <small>100%</small>
                        </div>
                    </li>
                </ul>
                <div class="card-footer bg-white p-4 text-center">
                    <button class="btn btn-sm btn-second" type="button"><span class="btn-wrapper--icon"><i
                                class="far fa-question-circle"></i></span> <span class="btn-wrapper--label">View
                            details</span></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card rounded-lg shadow border-0 overflow-hidden my-3">
                <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                    <div class="text-white">
                        <b>Our Blogs</b> <small class="d-block text-capitalize mt-1">Articles</small>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item pt-2 pb-2">
                        <div class="mb-1 d-flex justify-content-between">
                            <div>
                                <div class="font-weight-bold"> Categorys </div>
                            </div>
                            <div class="ml-auto">
                                <div class="font-size-xl font-weight-bold text-success"> 190 </div>
                            </div>
                        </div>
                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                            <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="43"
                                aria-valuemin="0" aria-valuemax="100" style="width: 65%;"></div>
                        </div>
                        <div class="mt-1 d-flex justify-content-between">
                            <small>0</small> <small>100%</small>
                        </div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <div class="mb-1 d-flex justify-content-between">
                            <div>
                                <div class="font-weight-bold"> Posts </div>
                            </div>
                            <div class="ml-auto">
                                <div class="font-size-xl font-weight-bold text-success"> 348 </div>
                            </div>
                        </div>
                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="43"
                                aria-valuemin="0" aria-valuemax="100" style="width: 29%;"></div>
                        </div>
                        <div class="mt-1 d-flex justify-content-between">
                            <small>0</small> <small>100%</small>
                        </div>
                    </li>
                    <li class="list-group-item pt-2 pb-2">
                        <div class="mb-1 d-flex justify-content-between">
                            <div>
                                <div class="font-weight-bold"> Messages </div>
                            </div>
                            <div class="ml-auto">
                                <div class="font-size-xl font-weight-bold text-success"> 220 </div>
                            </div>
                        </div>
                        <div class="progress-bar-sm progress-bar-animated-alt progress">
                            <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="43"
                                aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                        <div class="mt-1 d-flex justify-content-between">
                            <small>0</small> <small>100%</small>
                        </div>
                    </li>
                </ul>
                <div class="card-footer bg-white p-4 text-center">
                    <button class="btn btn-sm btn-second" type="button"><span class="btn-wrapper--icon"><i
                                class="far fa-question-circle"></i></span> <span class="btn-wrapper--label">View
                            details</span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-0 rounded-lg shadow overflow-hidden">
                <div class="card-header bg-white d-flex justify-content-between align-items-center">
                    <h5>Blogs</h5>
                    <div class="dropdown dropleft">
                        <button type="button" class="btn" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="fa fa-ellipsis-h"></i></button>
                        <div class="dropdown-menu">
                            <a href="{% url 'blogs' %}">
                                <button class="dropdown-item" type="button">Go to Blog Home</button>
                            </a>
                            <a href="{% url 'blogposts' %}">
                                <button class="dropdown-item" type="button">VieW all Blog Details</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless table-hover">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Published Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for x in key %}
                                <tr>
                                    <td>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <label class="custom-control custom-checkbox mr-2"><input type="checkbox"
                                                    class="custom-control-input" /> <span
                                                    class="custom-control-label">&nbsp;</span></label>
                                            <img src="{{x.picture.url}}" height="60" width="60"
                                                class="rounded-circle mr-4" alt="No-Img" />
                                            <div class="d-inline-block">
                                                <h6>{{x.title}}</h6>
                                                <p class="text-muted m-b-0">{{x.category}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{x.author}}</td>
                                    <td>{{x.timeStamp}}</td>
                                    <td><label class="badge badge-info"></label>
                                        <a href="{% url 'blogpage' x.slug %}" class="view" title="View"
                                            data-toggle="tooltip"><i class="fa fa-eye"></i>&nbsp; View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}