{% extends 'home/base.html' %}
{% load static %}
{% block css %}
<style>
    .nav-item:hover {
        background-color: transparent;
    }

    .nav-item.active {
        background-color: transparent;
        font-weight: bolder;
    }

    .log {
        width: 270px;
    }

    @media screen and (max-width:600px) {
        .log {
            width: 150px;
        }

        .support {
            margin-left: 15px;
        }
    }
</style>
{% endblock %}
{% block js %}
<script>
    $(document).on("click", 'ul li', function () {
        $('ul li').removeClass('active');
        $(this).addClass('active');
    })
</script>
{% endblock %}
{% block div1 %}
<section>
    <div class="row">
        <div class="col-sm-3 mt-5">
            <!-- <div class="col-12 col-lg-auto mb-3" style="width: 220px;"> -->
            <!-- <div class="card"> -->
            <!-- text-light bg-primary font-weight-bolder -->
            <ul class="nav nav-pills flex-column ml-3 mb-0 pr-2">
                <li class="nav-item mt-1 active">
                    <a href="#edittab" data-toggle="tab" class="nav-link active rounded-right shadow-sm"><i
                            class="fa fa-pencil mr-3">
                        </i> Edit Profile
                    </a>
                </li>
                <li class="nav-item mt-1">
                    <a href="#settingstab" data-toggle="tab" class="nav-link rounded-right shadow-sm"><i
                            class="fa fa-sliders mr-3"></i>
                        Settings</a>
                    <!--  bg-white -->
                </li>
                <li class="nav-item mt-1">
                    <a href="{% url 'profile' %}" class="nav-link rounded-right shadow-sm"><i
                            class="fa fa-user mr-3"></i>
                        View Profile</a>
                    <!--  bg-white  -->
                </li>
            </ul>
            <div class="card mb-3 mt-4 ml-4 log">
                <div class="card-body">
                    <div class="px-xl-2">
                        <button class="btn btn-block btn-secondary">
                            <i class="fa fa-sign-out"></i>
                            <span>Logout</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7 mt-5 mb-5 tab-content">
            <div id="edittab" class="tab-pane active">
                <!-- <div class="col-sm-7 mt-5 mb-5"> -->
                <div class="card">
                    <div class="card-body">
                        <div class="e-profile">
                            <div class="row">
                                <div class="col-12 col-sm-auto mb-3">
                                    <div class="mx-auto" style="width: 140px;">
                                        <div class="d-flex justify-content-center align-items-center rounded"
                                            style="height: 140px; background-color: rgb(233, 236, 239);">
                                            <span
                                                style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                    <div class="text-center text-sm-left mb-2 mb-sm-0">
                                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">John Smith</h4>
                                        <p class="mb-0">@johnny.s</p>
                                        <div class="text-muted"><small>Last seen 2 hours ago</small></div>
                                        <div class="mt-2">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-fw fa-camera"></i>
                                                <span>Change Photo</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="text-center text-sm-right">
                                        <span class="badge badge-secondary">administrator</span>
                                        <div class="text-muted"><small>Joined 09 Dec 2017</small></div>
                                    </div>
                                </div>
                            </div>
                            <ul class="nav nav-tabs">
                                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
                            </ul>
                            <div class="tab-content pt-3">
                                <div class="tab-pane active">
                                    <form class="form" novalidate="">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input class="form-control" type="text" name="name"
                                                                placeholder="John Smith" value="John Smith">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Username</label>
                                                            <input class="form-control" type="text" name="username"
                                                                placeholder="johnny.s" value="johnny.s">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control" type="text"
                                                                placeholder="user@example.com">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="form-group">
                                                            <label>About</label>
                                                            <textarea class="form-control" rows="5"
                                                                placeholder="My Bio"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 mb-3">
                                                <div class="mb-2"><b>Change Password</b></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Current Password</label>
                                                            <input class="form-control" type="password"
                                                                placeholder="••••••">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>New Password</label>
                                                            <input class="form-control" type="password"
                                                                placeholder="••••••">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label>Confirm <span
                                                                    class="d-none d-xl-inline">Password</span></label>
                                                            <input class="form-control" type="password"
                                                                placeholder="••••••">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                <div class="mb-2"><b>Keeping in Touch</b></div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label>Email Notifications</label>
                                                        <div class="custom-controls-stacked px-2">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="notifications-blog" checked="">
                                                                <label class="custom-control-label"
                                                                    for="notifications-blog">Blog posts</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="notifications-news" checked="">
                                                                <label class="custom-control-label"
                                                                    for="notifications-news">Newsletter</label>
                                                            </div>
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input"
                                                                    id="notifications-offers" checked="">
                                                                <label class="custom-control-label"
                                                                    for="notifications-offers">Personal
                                                                    Offers</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col d-flex justify-content-end">
                                                <button class="btn btn-secondary" type="submit">Cancel</button>
                                                &nbsp;
                                                <button class="btn btn-primary" type="submit">Save Changes</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="settingstab" class="tab-pane">
                <div class="card">
                    <div class="card-header">
                        <h6>ACCOUNT SETTINGS</h6>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                                    placeholder="Enter your username" value="kennethvaldez">
                                <small id="usernameHelp" class="form-text text-muted">After changing your username, your
                                    old
                                    username becomes available for anyone else to claim.</small>
                            </div>
                            <div class="mt-4">
                                <h6>PASSWORD SETTINGS</h6>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label class="d-block">Change Password</label>
                                    <div class="mb-2">
                                        <input type="text" class="form-control" placeholder="Enter your old password">
                                    </div>
                                    <div class="mb-2">
                                        <input type="text" class="form-control mt-1" placeholder="New password">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" class="form-control mt-1" placeholder="Confirm new password">
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                            <form>
                                <div class="form-group mt-4">
                                    <label class="d-block text-danger" style="font-size: 20px;">Delete Account</label>
                                    <p class="text-muted font-size-sm">Once you delete your account, there is no going
                                        back.
                                        Please
                                        be certain.</p>
                                </div>
                                <button class="btn btn-danger" type="button">Delete Account</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 mt-5 mb-5">
            <div class="card support" style="width: 170px;">
                <div class="card-body">
                    <h6 class="card-title font-weight-bold">Support</h6>
                    <p class="card-text">Get fast, free help from our friendly assistants.</p>
                    <button type="button" class="btn btn-primary">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}