{% extends 'home/base.html' %}
{% block title %} Home {% endblock %}
{% block css %}
<style>
    .carousel-inner img {
        width: 100%;
        height: 490px;
        object-fit: cover;
    }

    .carousel-caption {
        font-family: 'Times New Roman', Times, serif;
        background-color: rgba(165, 156, 156, 0.90);
        width: 70%;
    }

    .carousel-caption a {
        color: white;
    }

    .carousel-caption a:hover {
        text-decoration: none;
        color: white;
    }

    .media.media-news {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        padding-bottom: 210px;
    }

    @media (min-width: 768px) {
        .media.media-news {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    @media (min-width: 1200px) {
        .media.media-news {
            padding-bottom: 25px;
            margin-bottom: 0;
        }
    }

    .media.media-news .media-body {
        padding: 20px;
        box-shadow: 0 22px 28px 0 rgba(0, 0, 0, 0.06);
        background: #fff;
        position: absolute;
        width: 85%;
        right: 0;
        bottom: 0;
    }

    @media (min-width: 768px) {
        .media.media-news .media-body {
            position: relative;
            padding: 46.5px 35px;
            right: 0;
        }
    }

    @media (min-width: 992px) {
        .media.media-news .media-body {
            right: 40px;
            bottom: 0;
        }
    }

    @media (min-width: 1200px) {
        .media.media-news .media-body {
            position: absolute;
            right: 35px;
            width: 60%;
            padding: 20px;
        }
    }

    .media.media-news .media-body .media-date {
        font-family: "Open Sans", sans-serif;
        color: #848484;
        margin-bottom: 10px;
    }

    .media.media-news .media-body h5 {
        font-size: 22px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }

    .media.media-news .media-body h5.small {
        font-size: 16px;
    }

    .media.media-news .media-body p {
        font-family: "Open Sans", sans-serif;
        color: #848484;
    }

    .media.media-news .media-body .common-btn {
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block homeactive %} active {% endblock homeactive %}
{% block js %}
{% endblock %}
{% block div1 %}
<script>
    $(".alert-dismissible").fadeTo(2000, 0).slideUp(3000, function () {
        $(".alert-dismissible").alert('close');
    })
</script>

<section>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
        <strong>Message : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
            <li data-target="#demo" data-slide-to="3"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            {% load static %}
            <div class="carousel-item active">
                <img src="{% static 'images/cr1.jpg' %}" alt="Los Angeles" width="1100" height="500"
                    style="object-position: 50% 34%;">
                <div class="carousel-caption">
                    <a href="">
                        <h1>Latest Blogs</h1>
                    </a>
                    <p>Read Our Latest Blogs</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cr4.jpg' %}" alt="Chicago" width="1100" height="500"
                    style="object-position: 50% 18%;">
                <div class="carousel-caption ">
                    <a href="">
                        <h1>Sign Up and Login</h1>
                    </a>
                    <p>Register & Sign in to Intract with Us</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cr3.jpg' %}" alt="New York" width="1100" height="500"
                    style="object-position: 50% 65%;">
                <div class="carousel-caption">
                    <a href="">
                        <h1>About Us</h1>
                    </a>
                    <p>Know More About Us</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/cr5.jpg' %}" alt="New York" width="1100" height="500"
                    style="object-position: 50% 90%;">
                <div class="carousel-caption">
                    <a href="">
                        <h1>Contact Us</h1>
                    </a>
                    <p>Get in Contact with Us</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    </div>
    {% endblock %}
    {% block div2 %}
    <section>
        <div class="container my-4">
            <h2>Latest Blogs</h2>
        </div>
        <div class="container mt-5">
            <div class="row my-2">
                {% for x in key %}
                <div class="col-md-6">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">
                                {{x.category}}
                            </strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="">{{x.title| truncatechars:25 |safe}}</a>
                            </h3>
                            <div class="mb-1 mt-1 text-muted">{{x.timeStamp}}</div>
                            <p class="card-text mb-auto">{{x.content| truncatechars:100 |safe}}</p>
                            <a href="{% url 'blogpage' x.slug %}" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img src="/icoder/media/{{x.picture}}" class="bd-placeholder-img" width="250" height="290"
                                aria-label="Placeholder: Thumbnail">
                            <title>Placeholder</title></img>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:2%}
            </div>
            <div class="row my-2">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="container my-3">
            <div class="">
                <h3 style="display: inline-block;">Popular Blog Posts</h3>
            </div>
        </div>
        <div class="container my-3">
            <div class="row my-4">
                {% for x in key %}
                <div class="col-md-6 ">
                    <div class="card bg-dark text-white shadow mb-1">
                        <img class="card-img" src="/icoder/media/{{x.picture}}" height="300" width="200"
                            alt="Card image">
                        <div class="card-img-overlay">
                            <h5 class="card-title"> {{x.title}}</h5>
                            <p class="card-text mt-5">{{x.content | truncatechars:200 |safe}}</p>
                            <div class="mt-5">
                                <a href="{% url 'blogpage' x.slug %}">
                                    <button class="btn btn-primary">Read More</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
                {% if forloop.counter|divisibleby:2%}
            </div>
            <div class="row my-4">
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="container mb-3">
                <div class="mr-4" style="float: right;">
                    <a href="{% url 'blogs' %}"> <button class="btn btn-primary"> Go to Blog Home</button></a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}