{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datas Table</title>
    <style>
        h2 {
            height: 60px;
            padding: 10px;
            border-radius: 8px;
        }

        .divi {
            margin-top: 25px;
        }

        .bg {
            background-image: url("{% static 'images/cr3.jpg' %}");
        }

        .div1 {
            background-color: rgba(211, 208, 208, 0.9);
            padding: 20px;
        }

        td {
            font-weight: bold;
        }

        th {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="bg">
    <div class="div1">
        <div class="container">
            <div class="divi">
                <h2 class="text-white bg-dark">Messages</h2>
            </div>
            <!-- </div>
        <div class="container"> -->
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Message</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in key %}
                    <tr>
                        <th scope="row">{{x.id}}</th>
                        <td>{{x.name}}</td>
                        <td>{{x.email}}</td>
                        <td>{{x.phone}}</td>
                        <td>{{x.content}}</td>
                        <td style="text-align: center;">
                            <a href="{% url 'deletemsg' x.id %}" class="btn text-secondary px-0">
                                <button type=" submit" class="btn btn-success" id="sub">Delete</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>